.cart_info {
  width: 250px;
  text-align: center;
  background-color: var(--clr-teal-light);
  border-radius: 1rem;
  padding-inline: 1rem;

  .img > img {
    display: block;
    width: 70%;
    margin-inline: auto;
  }

  .info {
    color: var(--clr-dark);
    h2 {
      font-family: var(--ff-main);
      margin-bottom: 0.5rem;
    }
    .brand {
      font-family: var(--ff-accent);
      font-style: italic;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    .desc {
      font-family: var(--ff-main);
      line-height: 1.5;
      font-size: 0.8rem;
    }
    button {
      width: 150px;
      height: 40px;
      margin-top: 1rem;
      border-radius: 50rem;
      border: 1px solid var(--clr-dark);
      background-color: var(--clr-light);
      transition: 0.2s ease-in-out;

      &:hover {
        scale: 1.1;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
      &:active {
        scale: 1;
      }
    }
  }
  .price_info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    margin-block: 1rem;
    > p:nth-of-type(1) {
      font-weight: 400;
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }
  }
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-block: 1rem;
}
