.cart_info {
  margin-block: 1rem;
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 1rem;
  background-color: var(--clr-teal-light);
  border-radius: 1rem;

  .img > img {
    display: block;
    width: 90%;
    margin-inline: auto;
  }

  .info {
    width: 90%;
    color: var(--clr-dark);
    h2 {
      font-family: var(--ff-main);
      margin-bottom: 0.5rem;
    }
    .brand {
      font-family: var(--ff-accent);
      font-style: italic;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    .desc {
      font-family: var(--ff-main);
      line-height: 1.5;
    }
    button {
      width: 150px;
      height: 40px;
      margin-top: 1rem;
      border-radius: 50rem;
      border: 1px solid var(--clr-dark);
      background-color: var(--clr-light);
      transition: 0.2s ease-in-out;

      &:hover {
        scale: 1.1;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
      &:active {
        scale: 1;
      }
    }
  }
  .price_info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    width: 15%;
  }
}

hr {
  height: 150px;
  border: none;
  width: 2px;
  background-color: var(--clr-dark);
  margin-inline: 2rem;
}
