.signupForm {
  background-color: var(--clr-light);
  width: 400px;
  min-width: 200px;
  margin-inline: auto;
  padding: 2rem;
  border-radius: 2rem;
  font-family: var(--ff-main);
  color: var(--clr-dark);
  margin-block: 1rem;
  h1 {
    margin-block: 1rem;
    text-align: center;
  }
  h2 {
    font-family: var(--ff-accent);
    width: 60%;
    text-align: center;
    margin-inline: auto;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .fields {
    margin-bottom: 1rem;
    label {
      margin-left: 1rem;
      margin-block: 1rem;
      display: block;
    }
    input {
      width: 90%;
      height: 40px;
      padding-inline: 1rem;
      font-size: 1rem;
    }
  }
  .submitsp {
    width: 90%;
    height: 40px;
    border-radius: 50rem;
    border: none;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-inline: auto;
    margin-block: 1rem;
    display: block;
    transition: 0.2s ease-in-out;
    &:hover {
      scale: 1.1;
      cursor: pointer;
      border: 1px solid var(--clr-dark);
      background-color: var(--clr-light);
      color: var(--clr-dark);
    }
    &:active {
      scale: 1;
    }
  }
  .reset {
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
  }
  span {
    font-size: 0.7rem;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    color: red;
    font-weight: 500;
    display: block;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
  }
}
