:root {
  /* colors */
  --clr-dark: #272343;
  --clr-light: #ffffff;
  --clr-teal-light: #e3f6f5;
  --clr-teal: #bae8e8;

  /* Typography */
  --ff-main: "Raleway", serif;
  --ff-accent: "Poiret One", serif;
  --fw-bold: 700;
  --fw-medium: 400;
  --fw-light-main: 300;
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

body {
  background-color: var(--clr-teal-light);
}

.app_container {
  display: flex;
  flex-direction: column;
}

.content_container {
  display: flex;
  gap: 1rem;
  padding-right: 2rem;
  position: relative;
}
