nav {
  width: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  img {
    width: 100px;
    position: fixed;
    top: 5%;
    left: 1%;
    cursor: pointer;
  }
  .logoutBtn {
    height: 30px;
    width: 100px;
    border-radius: 50rem;
    border: none;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 25%;
    left: 1%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
      scale: 1.1;
      background-color: var(--clr-light);
      color: var(--clr-dark);
    }
    &:active {
      scale: 1;
    }
  }
}

nav ul {
  position: fixed;
  background-color: var(--clr-light);
  width: 6%;
  min-width: 85px;
  top: 20%;
  left: 1%;
  text-align: center;
  /* height: 59vh; */
  border-radius: 50rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  li {
    color: var(--clr-dark);
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style: none;
    font-size: 0.8rem;
    padding-block: 1.2rem;
  }
  a {
    padding-block: 1rem;
  }

  a:hover {
    background-color: var(--clr-dark);
    li {
      color: var(--clr-teal-light);
    }
  }

  .activeLink {
    background-color: var(--clr-dark);
    li {
      color: var(--clr-teal-light);
    }
  }
}
