nav {
  width: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  img {
    width: 100px;
    position: fixed;
    top: 5%;
    left: 1%;
    cursor: pointer;
  }
}

nav ul {
  position: fixed;
  background-color: var(--clr-light);
  width: 6%;
  top: 20%;
  left: 1%;
  text-align: center;
  height: 59vh;
  border-radius: 50rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  li {
    color: var(--clr-dark);
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style: none;
    font-size: 0.8rem;
    padding-block: 1.2rem;
  }
}
a {
  padding-block: 1rem;
}

a:hover {
  background-color: var(--clr-dark);
  li {
    color: var(--clr-teal-light);
  }
}

.activeLink {
  background-color: var(--clr-dark);
  li {
    color: var(--clr-teal-light);
  }
}
